{% extends 'messaging/base.html' %}
{% block content %}

<br><br>
<center>
<div class="col-6">
    <div class="card">
        <div class="card-header">
            <div class="about-info">
                <br>
                <p>Смена пароля завершена.</p>
            </div>
        </div>
        <div class="card-body">
            <div class="about-info">
                <br>
                <p>Мы отправили вам новый пароль на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.
            Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
            </div>
        </div>
        <div class="card-footer">
            <a href="{% url 'users:login' %}" class="btn btn-success">Перейти к авторизации пользователя</a>
        </div>
    </div>
</div>
</center>

{% endblock %}