{% extends 'messaging/base.html' %}

{% block content %}

<br>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="about-info">
                <table width=100% style="margin-bottom: 20px;">
                    <tr>
                        <td><h3 style="color: orange;">{{ title }}</h3></td>
                        <td style="text-align: right;"><a href="{% url 'messaging:create_client' %}" class="btn btn-outline-secondary">Добавить нового клиента</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="card-body">

            <table class="table">
                <tr>
                    <td><p>Email</p></td>
                    <td><p>Фамилия</p></td>
                    <td><p>Имя</p></td>
                    <td><p>Отчество</p></td>
                    <td><p>Комментарий</p></td>
                    <td></td>
                    <td></td>
                </tr>

            {% for object in object_list %}


                <tr>
                    <td>
                        <a href="{% url 'messaging:view_client' object.id %}">{{ object.email }}</a>
                    </td>
                    <td>
                        {{ object.surname }}
                    </td>
                    <td>
                        {{ object.name }}
                    </td>
                    <td>
                        {{ object.patronymic }}
                    </td>
                    <td>
                        {{ object.comments }}
                    </td>
                    <td>
                        <a href="{% url 'messaging:update_client' object.id %}" class="btn btn-outline-secondary">Изменить</a>
                    </td>
                    <td>
                        <a href="{% url 'messaging:delete_client' object.id %}" class="btn btn-outline-danger">Удалить</a>
                    </td>
                </tr>


            {% endfor %}

            </table>

        </div>
        <div class="card-footer">
            <center><a href="{% url 'messaging:home' %}" class="btn btn-outline-secondary">На главную</a></center>
        </div>
    </div>
</div>

{% endblock %}