{% extends 'messaging/base.html' %}

{% block content %}

{% if object.user_owner == user %}

<br>
<center>
<div class="col-6">
    <div class="card">
        <div class="card-header">
            <div class="about-info">
                <h5 style="color: orange;">Клиент: {{ title }}</h5>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>
                        Email:
                    </td>
                    <td>
                        {{ object.email }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Фамилия:
                    </td>
                    <td>
                        {{ object.surname }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Имя:
                    </td>
                    <td>
                        {{ object.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Отчество:
                    </td>
                    <td>
                        {{ object.patronymic }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Комментарий:
                    </td>
                    <td>
                        {{ object.comments }}
                    </td>
                </tr>
                <tr class="text-center">
                    <td>
                        <a href="{% url 'messaging:update_client' object.id %}" class="btn btn-outline-secondary">Изменить</a>
                    </td>
                    <td>
                        <a href="{% url 'messaging:delete_client' object.id %}" class="btn btn-outline-danger">Удалить</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer">
            <table class="table">
                <tr class="text-center">
                    <td>
                        <a href="{% url 'messaging:home' %}" class="btn btn-outline-secondary">На главную</a>
                    </td>
                    <td>
                        <a href="{% url 'messaging:clients' %}" class="btn btn-outline-secondary">К списку клиентов</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</center>

{% else %}

{% include 'messaging/access_is_closed.html' %}

{% endif %}

{% endblock %}