{% extends 'messaging/base.html' %}

{% block content %}

<br>
<center>
<div class="col-6">
    <div class="card">
        <div class="card-header">
            <div class="about-info">
                <h5 style="color: orange;">Удаление рассылки</h5>
            </div>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                Уверены, что хотите удалить сообщение "<a href="{% url 'messaging:user_view_mailing' object.id %}">{{ object }}</a>"?<br><br>
                <input type="submit" class="btn btn-outline-danger" value="Подтвердите удаление">
            </form>
        </div>
        <div class="card-footer">
            <a href="{% url 'messaging:user_mailing' %}" class="btn btn-outline-secondary">Назад</a>
        </div>
    </div>
</div>
</center>

{% endblock %}