{% extends 'messaging/base.html' %}

{% block content %}

{% if object.user_owner == user %}

<br>
<center>
<div class="col-6">
    <div class="card">
        <div class="card-header">
            <div class="about-info">
                <h5 style="color: orange;">Рассылка: {{ title }}</h5>
            </div>
        </div>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td>
                        Название:
                    </td>
                    <td>
                        {{ object.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата и время запуска рассылки:
                    </td>
                    <td>
                        {{ object.dtime_begin }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Дата и время остановки рассылки:
                    </td>
                    <td>
                        {{ object.dtime_end }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Периодичность рассылки:
                    </td>
                    <td>
                        {{ object.frequency }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Статус:
                    </td>
                    <td>
                        {{ object.status }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Сообщение:
                    </td>
                    <td>
                        <a href="{% url 'messaging:view_message' object.message.id %}">{{ object.message }}</a><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        Список клиентов, которые получат сообщение:
                    </td>
                    <td>
                        {% for client in object.clients.all %}
                        <a href="{% url 'messaging:view_client' object.id %}">{{ client }}</a><br>
                        {% endfor %}
                    </td>
                </tr>
                <tr class="text-center">
                    <td>
                        <a href="{% url 'messaging:update_mailing' object.id %}" class="btn btn-outline-secondary">Изменить</a>
                    </td>
                    <td>
                        <a href="{% url 'messaging:delete_mailing' object.id %}" class="btn btn-outline-danger">Удалить</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-footer">
            <table class="table">
                <tr class="text-center">
                    <td>
                        <a href="{% url 'messaging:home' %}" class="btn btn-outline-secondary">На главную</a>
                    </td>
                    <td>
                        <a href="{% url 'messaging:user_mailing' %}" class="btn btn-outline-secondary">К списку рассылок</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</center>

{% else %}

{% include 'messaging/access_is_closed.html' %}

{% endif %}

{% endblock %}