{% extends 'messaging/base.html' %}

{% block content %}

<br>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="about-info">
                <h3 style="color: orange;">{{ title }}</h3>
            </div>
        </div>
        <div class="card-body">

            <table class="table">
                <tr>
                    <td><p>Время запуска</p></td>
                    <td><p>Статус</p></td>
                    <td><p>Название рассылки</p></td>
                    <td><p>Ответ сервера</p></td>
                </tr>

            {% for object in object_list %}


                <tr>
                    <td>
                        {{ object.dtime_mailing }}
                    </td>
                    <td>
                        {{ object.status_mailing }}
                    </td>
                    <td>
                        {{ object.name }}
                    </td>
                    <td>
                        {{ object.server_response }}
                    </td>
                </tr>


            {% endfor %}

            </table>

        </div>
        <div class="card-footer">
            <center><a href="{% url 'messaging:home' %}" class="btn btn-outline-secondary">На главную</a></center>
        </div>
    </div>
</div>

{% endblock %}